@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    line-height: 1.4;
}
* {
    box-sizing: border-box;
}
a {
    color: #fff;
}
.menu {
    width: 100%;
}
.menu-container {
    margin: 0 auto;
    background: #111827;
    color: white;
}
.menu a.logo {
    display: inline-block;
    padding: 1.5em 3em;
    float: left;
    color: #ffffff;
    font-weight: 100;
}
.menu img {
    max-width: 100%;
}
.menu-mobile {
    display: none;
    padding: 20px;
}
.menu-mobile:after {
    content: '\f394';
    font-family: Ionicons;
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
}
.menu-dropdown-icon:before {
    content: '\f489';
    font-family: Ionicons;
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #111827;
    color: #fff;
}
.menu > ul {
    margin: 0 auto;
    width: 80%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
    clear: right;
}
.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}
.menu > ul:after {
    clear: both;
}
.menu > ul > li {
    float: left;
    background: #111827;
    padding: 0;
    margin: 0;
}
.menu > ul > li a {
    text-decoration: none;
    padding: 1.5em 3em;
    display: block;
}
.menu > ul > li:hover {
    background: #111827;
}
.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #111827;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}
.menu > ul > li > ul:after {
    clear: both;
}
.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: #111827;
    float: left;
}
.menu > ul > li > ul > li a {
    color: #fff;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #fff;
}
.menu > ul > li > ul > li a:hover{
    color:#fff;
}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}
.menu > ul > li > ul > li > ul:after {
    clear: both;
}
.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a {
    border: 0;
    font-size: 14px;
}
.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}
.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }
    .menu-container .menu{
        display:inline-block;
    }
    .menu-mobile {
        display: block;
        float: right;
        padding: 20px 20px 0;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
        width:100%;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
        color: white;
    }
    .menu > ul > li > ul {
        position: relative;
        padding: 0 40px;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }

    .section__heading {
        max-width: 600px;
        margin-bottom: 2.5rem;
        font-size: 1.75rem;
    }

    .parallax1 {
        background-image: url(images/10.jpg);
        min-height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn {
        font-family: Lato,sans-serif;
        font-size: .75rem;
        font-weight: 700;
        line-height: 1.25rem;
        letter-spacing: .05em;
        text-transform: uppercase;
    }
    
    .text-white {
        color: #fff!important;
    }
    .btn-primary {
        color: #212529;
        border-color: #f5a637;
        background-color: #f5a637;
    }
    .btn-watb {
        font-weight: 500;
        border-width: 2px;
        font-style: normal;
        letter-spacing: 1px;
        margin: .4rem .8rem;
        white-space: normal;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        padding: 1rem 3rem;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        word-break: break-word;
    }
    
    .btn-watb-border, .btn-watb-border:active {
        background: none;
        border-color: #000000;
        color: #000000;
    }
    a, .btn {
        text-decoration: none !important;
        outline: none !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    .btn {
        font-weight: 400;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: .9rem;
        line-height: 1.5;
        border-radius: .25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

}
